.button {
  padding: 10px 32px;
  border-radius: 30px;
  border: 0;
  background: white;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: darkgray;
  }
  span {
    font-size: 12px;
    font-weight: bold;
  }
}
